body{
    background-color: pink;
    justify-content: space-evenly;
    margin-left: 25%;
    margin-right: 25%;
}


.nature{
    background-image: url("https://cdn.bhdw.net/im/fantasy-night-deer-wallpaper-82911_w635.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    text-align: center;
    height: 400px;
    margin-bottom: 50px; 
    color: white;  


} 
#tour{
    gap: 20px;
}
#ka{
    display: flex;
    flex: auto auto auto auto;
    gap: 30px;
    
}
#ngare{
    width: 100px;
}
#sa{
    display: flex;
    margin-bottom: 50px;
    gap: 30px;
}
#tz{
    display: flex;
    gap: 30px;
}
#balli{
    width: 500px;
}
#images{
    height: 10px;
    width: 10;
}
#reason{
    text-align: center;
}
#beach{
    display: flex;
    justify-content: space-evenly;
}
#bali{
    display: flex;
    gap: 30px;
}

#ul{
    display: flex;
    gap: 200px;
   
}

#imgfall{
display: flex;
gap: 100px;
}
#spa{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
#heritage{
    display: flex;
    justify-content: space-evenly;
}
#guides{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
#text{
    text-align: center;
    margin-bottom: 100px;
    margin-bottom: 50px;
}
#jessy{
    display: flex;
}
#par{
    display: flex;
    gap: 150px;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.bali{
    display: flex;
    gap: 30px;
}
#bride{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    gap: 20px;
}
#buttonn{
    background-color: blue;
    color: white;
}
#cultural{
margin-bottom: 10px;
justify-content: space-evenly;
}
#button{
    margin-bottom: 20px;
}
#temple{
    display: flex;
}
#p{
    display: flex;
}
#img{
    display: flex;
    color: white;
}
#call{
display: flex;
gap: 50px;
}
#line{
    border-right: 10px groove;
    min-height: 500px;
    
}
#water{
    width: 500px;
    justify-content: space-evenly;
}
#solid{
    border-top:1px solid
    
    
}

#about{
    text-align: center;
}
table, th, td {
    border: 1px solid;
    
  }

#form{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
#lion{
    gap: 30px;
    width: 100px;
    display: flex;
    margin-bottom: 50px;
  
}
#pair{
    display: flex;
    gap: 30px;
}
#lions2{
    display: flex;
    gap: 30px;
   flex: auto auto auto auto;
}
#animal{
    text-align: center;
    margin-bottom: 50px;
}
#insta{
    width: 20px;
}

@media screen and (min-width:375px)and (max-width :768px){
    #beach{
        flex-direction: column;
       
    }

    #call{
        flex-direction: column;
        gap: 50px;
   
}
#bride{
flex-direction: column;

}
#temple{
    flex-direction: column;
}
#guides{
    flex-direction: column;

}
#bali{
    flex-direction: column;
}
#spa{
    flex-direction: column;

}


}

@media screen and  (min-width:495px_)and (max-width:969px){
    #guides{
        flex-direction: column;
        height: 5px;
} 
.info{
    flex-wrap: wrap;
    
}
 
}